
.ArtBox {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;

  padding-top: 13rem;
}

.ArtCard {
  margin: 1rem;
  padding: 1rem;
  border: black 3px solid;
  border-radius: 15px;
  outline: 3px solid goldenrod;
  transition: 0.5s;
  width: 15rem;
  height: 20rem;
  margin-top: -12.5rem;
  overflow: hidden;

  filter: brightness(50%);
  z-index: 0;
}
.ArtCard:hover {
  margin-top: -17rem;
  filter: brightness(100%);
  z-index: 1;
}
.ArtCard h3 {
  font-size: 25px;
  margin: auto;
  color: white;

  border: #1a1a1a 1px solid;
  border-radius: 5rem;
  margin: 1rem;
  background-color: #000000;
}
.ArtCard h4 {
  margin-top: -1rem;
  margin-bottom: 0;
  font-size: 20px;
  color: var(--secondary-text-color);
}
.ArtCard .logo {
  width: 4rem;
  height: 4rem;
  border: transparent solid 5px;
  background: linear-gradient(#412500, rgb(255, 193, 58)) padding-box,
              linear-gradient(30deg, #412500, rgb(255, 193, 58)) border-box;
  border-radius: 50%;
  padding: 0%;
}

.card {
  padding: 2em;
}

.Card {
  background: var(--background);

  margin-top: 2rem;
  padding: 1rem;

  display: block;
  transition: 0.5s;

  width: 1wm;
}