.mobile-cta {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  z-index: 9999;
  
}

/* Shared button styles */
.mobile-cta a {
  flex: 1;
  line-height: 1;
  padding: 0rem 0.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  backdrop-filter: blur(10px);
  transition: 0.2s ease;

  background-image: radial-gradient(var(--pattern-color) 1px, transparent 1px);
  background-size: 12px 12px;
}

/* Call button #0003c5a2*/
.cta-call {
  background: #1a0033c5;
}

/* WhatsApp button #00ff6aa6*/
.cta-whatsapp {
  background: #1a0033c5;
}

/* WhatsApp button #ffae00af*/
.cta-review {
  background: #1a0033c5;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(37,211,102,0.6); }
  70% { box-shadow: 0 0 0 12px rgba(37,211,102,0); }
  100% { box-shadow: 0 0 0 0 rgba(37,211,102,0); }
}

/* Hover effect */
.mobile-cta a:hover {
  transform: translateY(-2px);
}
