.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;

  background: rgba(70, 0, 123, 0.4);
  backdrop-filter: blur(10px);

  background-image: radial-gradient(var(--pattern-color) 1px, transparent 1px);
  background-size: 24px 24px;

  display: flex;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  z-index: 999;

  direction: ltr;
}

/* Left side */
.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
    flex-shrink: 0;
}

.nav-logo {
  height: 4.5rem;
  width: auto;
  border-radius: 50%;
}

.nav-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  white-space: nowrap;
}

/* Links */
.nav-links {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.nav-links button {
  background: transparent;
  border: 2px solid var(--background-color);
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin: auto;
}

.nav-links button:hover {
  color: black;
  padding: 0.7rem 1.5rem;
}

/* Contact button highlight */
.nav-cta {
  background: var(--accent-color);
  color: black;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 2rem;
  margin-left: auto;
  cursor: pointer;
  color: white;
}

/* Mobile Menu */
.mobile-menu {
  position: absolute;
  top: 70px;
  right: 0;
  background: var(--foreground-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-title {
    font-size: 1rem;
  }

  .nav-center {
    left: auto;
    right: 1rem;
    transform: none;
  }

  .navbar {
    height: 3rem;
  }

  .nav-logo {
    height: 2.5rem;
    margin-left: -1rem;
  }
}
