/* MAIN CARD LIKE PIECE & LIST */
.services-card {
  width: min(85%, 1100px);
  margin: 4rem auto;
  padding: 1rem;
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.12);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

/* Title */
.services-title {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--secondary-text-color);
  font-weight: 600;
}

/* Category box */
.service-category {
  border: 1px solid rgba(255,255,255,0.12);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
  background: var(--foreground-color);
  padding-left: 1rem;
  padding-bottom: 1rem;
}

/* Category header */
.category-header {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 0.8rem;
  font-weight: 600;
  background: transparent;
  color: var(--primary-text-color);
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* Sub list */
.subcategory-list {
  background: rgba(0,0,0,0.2);
  padding: 0.5rem 1rem;
}

/* Subcategory */
.subcategory-header {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  background: transparent;
  border: none;
  color: white;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* Image preview */
.doc-preview {
  padding: 0.5rem 0 1rem;
  text-align: center;
}

.doc-preview img {
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 6px 18px rgba(0,0,0,0.4);
}

/* Mobile */
@media (max-width: 600px) {
  .services-title {
    font-size: 1.6rem;
  }
}
