.slider-wrapper {
    position: relative;
    width: 100%;
    margin-top: -10rem;
    box-shadow: 0px 10px 15px;
}

/* Each slide container */
.slide {
    position: relative;
    width: 100%;
}

/* Full width hero image */
.slider img {
    width: 100%;
    height: 90vh; /* hero height */
    object-fit: cover;
}

/* Overlay text */
.hero-text {
    direction: rtl;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.4); /* dark overlay for readability */
    padding: 2rem 3rem;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    font-family: "", sans-serif; /* optional Arabic font */
}

/* Main title */
.hero-text h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Subtitle */
.hero-text h2 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1.2rem;
}

/* Paragraphs */
.hero-text p {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

/* Button Arabic style */
.hero-text button {
  margin-top: 1.5rem;
  margin-right: 33%;
  padding: 0.8rem 2.2rem;
  font-size: 1.1rem;
  border-radius: 30px;
}

.hero-text button:hover {
    background-color: white;
    color: purple;
}



@media (max-width: 700px) {
  .slider img {
    max-height: 30rem;
  }

  .hero-text {
    min-width: 90%;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }

  .hero-text h2 {
    font-size: 1.3rem;
  }

  .hero-text p {
    font-size: 1rem;
  }
}