.slider-wrapper {
    position: relative;
    width: 100%;
    margin-top: -10rem;
    box-shadow: 0px 10px 15px;
}

/* Each slide container */
.slide {
    position: relative;
    width: 100%;
}

/* Full width hero image */
.slider img {
    width: 33%;
    height: 40rem; /* hero height */
    object-fit: cover;
}

/* Overlay text */
.hero-text {
    direction: rtl;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.4); /* dark overlay for readability */
    padding: 2rem 3rem;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    font-family: "", sans-serif; /* optional Arabic font */
}

/* Main title */
.hero-text h1 {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #d073ff;
  text-shadow: 0px 0px 5px #d073ff;
}

/* Subtitle */
.hero-text h2 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1.2rem;
}

/* Paragraphs */
.hero-text p {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

/* Button Arabic style */
.hero-text button {
  margin-top: 1.5rem;
  margin-right: 33%;
  padding: 0.8rem 2.2rem;
  font-size: 1.1rem;
  border-radius: 30px;
}

.hero-text button:hover {
    background-color: white;
    color: purple;
}


.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.hero-btn {
  padding: 0.9rem 1.6rem;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.25s ease;
  box-shadow: 0 6px 20px rgba(0,0,0,0.4);
}

/* WhatsApp */
.hero-btn.whatsapp {
  background: #25D366;
  color: black;
  margin: auto;
}

/* Call */
.hero-btn.call {
  background: #2563eb;
  color: white;
  margin: auto;
}

.hero-btn:hover {
  transform: translateY(-3px);
}


@media (max-width: 700px) {
  .slider img {
    max-height: 35rem;
  }

  .hero-text {
    min-width: 90%;
    top: 55%;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text h2 {
    font-size: 1.3rem;
  }

  .hero-text p {
    font-size: 1rem;
  }
}